.password-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: var(--dark-grey);
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.password {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.password.empty {
    color: var(--grey);
}

.copy-button-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.copy-button {
    color: var(--neon-green);
    border: none;
    background: transparent;
    cursor: pointer;
}

.copy-button:hover {
    color: white;
}

.copied-label {
    color: var(--neon-green);
    white-space: nowrap;
}