.password-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: #24232C;
    padding: 20px;
}

.password {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.password.empty {
    color: #817D92;
}

.copy-button {
    color: #A4FFAF;
    border: none;
    background: transparent;
    cursor: pointer;
}

.copy-button:hover {
    color: white;
}