.password-container {
    display: flex;
    align-items: center;
    padding: var(--big-padding);
    gap: var(--big-padding);
    justify-content: space-between;
    background-color: var(--dark-grey);
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 540px) {
    .password-container {
      padding: var(--small-padding);
      gap: var(--small-padding);
    }
  }

.password {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.password.empty {
    color: var(--grey);
}

.copy-button-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.copy-button {
    color: var(--neon-green);
    border: none;
    background: transparent;
    cursor: pointer;
}

.copy-button:hover {
    color: white;
}

.copy-button:disabled {
    color: var(--grey);
    cursor: not-allowed;
}

.copied-label {
    color: var(--neon-green);
    white-space: nowrap;
}