.strength-gauge-container {
    color: #817D92;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #18171F;
    padding: 20px;
    box-sizing: border-box;
}

.gauge-bars-container {
    color: #E6E5EA;
    display: flex;
    align-items: center;
    gap: 8px;
}

.gauge-bar {
    width: 10px;
    height: 30px;
    background-color: #E6E5EA;
}

.gauge-bar.blank {
    background-color: transparent;
    outline: 2px solid #E6E5EA;
    outline-offset: -2px;
}

.gauge-bar.green {
    background-color: #A4FFAF;
}

.gauge-bar.yellow {
    background-color: #F8CD65;
}

.gauge-bar.orange {
    background-color: #FB7C58;
}

.gauge-bar.red {
    background-color: #F64A4A;
}