.strength-gauge-container {
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--very-dark-grey);
    padding: 20px;
    box-sizing: border-box;
}

.gauge-bars-container {
    color: var(--almost-white);
    display: flex;
    align-items: center;
    gap: 8px;
}

.gauge-bar {
    width: 10px;
    height: 30px;
    background-color: var(--almost-white);
}

.gauge-bar.blank {
    background-color: transparent;
    outline: 2px solid var(--almost-white);
    outline-offset: -2px;
}

.gauge-bar.green {
    background-color: var(--neon-green);
}

.gauge-bar.yellow {
    background-color: var(--yellow);
}

.gauge-bar.orange {
    background-color: var(--orange);
}

.gauge-bar.red {
    background-color: var(--red);
}